header{
    .navbar{
        padding: 18px 0;
        color: white;
    }
    .navbar-brand{
        img{
            max-width: 130px;
        }
    }
    .nav-link{
        --bs-navbar-active-color: white;
        --bs-navbar-nav-link-padding-x: 25px;
        --bs-navbar-nav-link-padding-y: 25px;
        --bs-navbar-active-color: white;
        color: white;
        font-size: 17px;
        text-transform: uppercase;
        &:hover{
            color: white;
            font-weight: 700;
        }
    }
    .navbar-toggler{
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
        i{
            color: white;
        }
    }
   @media(max-width:991px){
    .navbar-collapse{
        position: fixed;
        inset: 0 20% auto 0;
        height: 100vh;
        background-color: white;
        z-index: 99;
        transform: translateX(-800px);
        transition: all 0.3s ease-in-out;
        &.show{
            transform: translateX(0);
        }
        .nav-link{
            padding: 15px 25px;
            color: black;
            &.active{
                color: black !important;
            }
        }
        .navbar-nav{
            margin-top: 60px;
            position: relative;
            .nav-item:not(:last-child){
                .nav-link{
                    border-bottom: 1px solid rgba($color: $primary, $alpha: 0.2);
                }
            }
            .nav-mob-close{
                position: absolute;
                width: 40px;
                height: 40px;
                border: none;
                outline: none;
                background: $primary;
                right: 0;
                transform: translateX(50%);
                top: -30px;
                border-radius: 50%;
                i{
                    color: white;
                }
            }
        }
    }
   }
}

@media (min-width:991px){
    .nav-mob-close{
        display: none;
    }   
}

.navbar-overlay.show{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.325);
    z-index: 98;
}