.section{
    padding: 120px 0;
}

.about-section{
    background-color: white;
}

.rooms-section{
    background-color: #d7edd2;
}
.contact-section{
    background: url(../images/jorg-angeli-1tyuLfDOnG0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}